<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/poster1.jpg" alt="Los Angeles" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/poster2.jpg" alt="Chicago" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/poster3.jpg" alt="New York" width="100%" height="500">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/poster4.jpg" alt="New York" width="100%" height="500">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="bottom-sec">
    <div class="row justify-content-center remove-margin">
        <div class="col-md-3 sec-col bg-sefron">
            <i class="fa fa-user-o"></i>
            <span>Certified Teacher</span>
            <small>Evan the all powerful pointing has no control about the blind texts it is an almost
                unrthographic.</small>
        </div>
        <div class="col-md-3 sec-col bg-dark">
            <i class="fa fa-book"></i>
            <span>Book & Library</span>
            <small>Evan the all powerful pointing has no control about the blind texts it is an almost
                unrthographic.</small>
        </div>
        <div class="col-md-3 sec-col bg-sefron">
            <i class="fa fa-futbol-o"></i>
            <span>Sports</span>
            <small>Evan the all powerful pointing has no control about the blind texts it is an almost
                unrthographic.</small>
        </div>
        <div class="col-md-3 sec-col bg-dark">
            <i class="fa fa-graduation-cap"></i>
            <span>Education</span>
            <small>Evan the all powerful pointing has no control about the blind texts it is an almost
                unrthographic.</small>
        </div>
    </div>
</div>