<div class="registration">
    <div class="registration-section">
        <div class="row">
            <div class="col-md-12">
                <div class="top-sec">
                    <span>REGISTRATION FORM</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Registrtion Number#</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>First Name</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Middle Name</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Last Name</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>DOB</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input placeholder="DD/MM/YYY" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Father's Name</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Mother's Name</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Mobile Number</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Email Id</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input placeholder="xyz@gmail.com" type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="heading">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>House No/Ploat No</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Village/Street</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Landmark</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Post Office</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>District</label><small>*</small>
            </div>
            <div class="col-md-6">
                <select class="form-control">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>State</label><small>*</small>
            </div>
            <div class="col-md-6">
                <select class="form-control">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Country</label><small>*</small>
            </div>
            <div class="col-md-6">
                <select class="form-control">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Zip Code</label><small>*</small>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-sec">
                    <button class="btn btn-outline-primary">Save</button>
                    <button class="btn btn-outline-secondary">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>