<div class="action">
    <a href="javascript:void();" (click)="onEmailClick()"><i title="Email" class="fa fa-envelope"
            aria-hidden="true"></i></a>
    <a href="javascript:void()" (click)="onSmsClick()"><i title="SMS" class="fa fa-mobile" aria-hidden="true"></i></a>
    <a href="javascript:void()" (click)="onViewClick()"><i title="View" class="fa fa-eye" aria-hidden="true"></i></a>
    <a href="javascript:void()" (click)="onEditClick()"><i title="Edit" class="fa fa-pencil-square-o"
            aria-hidden="true"></i></a>
</div>