.sms {
  justify-content: center;
  display: flex;
  .sms-section {
    width: 80%;
    .row {
      padding: 5px;
    }
    label {
      display: inline-block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #4c4e5f;
      font-style: italic;
    }
    .top-sec {
      font-size: 33px;
      font-weight: bold;
      //   font-style: italic;
      display: flex;
      margin-bottom: 5px;
      color: #fff;
      padding-left: 10px;
    }
    .filter-header {
      .btn-sec {
        text-align: end;
        button {
          margin-left: 10px;
        }
      }
      .divider {
        border-bottom: 2px solid #b8b1c3;
        padding-top: 5px;
      }
      .import-user{
        font-size: 37px;
        color: #716c75;
      }
    }
  }
}
