<div class="sms">
    <div class="sms-section">
        <div class="row">
            <div class="col-md-12">
                <div class="top-sec sm-header-lr ml-n5 mb-n2">
                    <span>SMS</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pannel filter-header">
                <!-- <div class="row">
                    <div class="col-md-3">
                        <label>Filter By</label>
                    </div>
                    <div class="col-md-3">
                        <input placeholder="Roll No" type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input placeholder="Phone No" type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input placeholder="Phone No" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input placeholder="DOB" type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input placeholder="Status" type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input placeholder="Phone No" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="btn-sec">
                            <button class="btn btn-outline-primary">Find</button>
                            <button class="btn btn-outline-secondary">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 divider">
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-3"><label>Subject</label></div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option value="volvo">Holiday</option>
                            <option value="volvo">Contratulatin</option>
                            <option value="volvo">Fee</option>
                            <option value="volvo">Notification</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><label> Mobile</label></div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="+91-87-6543-4567">
                    </div>
                    <div class="col-md-1 text-right"><i title="select students to send sms" class="fa fa-address-book import-user" aria-hidden="true"></i></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="btn-sec">
                        <button class="btn btn-outline-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 pannel">
                <div class="col-md-12 sm-header-lr">
                    <span class="header-title"> SMS History</span>
                </div>
                <ag-grid-angular style="width: 97%; height: 500px;" class="ag-theme-balham ml-4" [rowData]="rowData"
                    [columnDefs]="columnDefs" rowSelection="multiple" pagination=true paginationPageSize="20">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>