<div class="header-content">
    <div class="row justify-content-center">
        <div class="col-md-10 top-header">
            <div class="row">
                <div class="col-md-3 ml-n3">
                    <span class="logo-text">ABCD</span><br>
                    <span class="logo-sub-text">school</span>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3 auth">
                    <div class="login">
                        <a href="javascript:void()" [routerLink]="['/login']">Login</a>
                    </div>
                    <div class="register">
                        <a href="javascript:void()">New User</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 top-menu">
            <a href="javascript:void()" [routerLink]="['/home']">Home</a>
            <a href="javascript:void()">About</a>
            <a href="javascript:void()">Course</a>
            <a href="javascript:void()">Contact</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>