<div class="login-sec">
    <div class="row remove-margin">
        <div class="col-md-12 login-cart">
            <div class="row">
                <div class="col-md-6 left-sec">
                    <div class="content-block">
                        <div class="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="left-title">
                            <span>USERS LOGIN</span><br>
                            <small>Please Login/SignUp to preceed</small>
                        </div>
                    </div>
                </div>
                <div class="diveder-line"></div>
                <div class="col-md-5 right-sec">
                    <div class="row w-50">
                        <div class="col-md-12 profile">
                            <div class="row justify-content-center">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="row">
                                <input placeholder="User Name" class="form-control" type="text" name="userId">
                            </div>
                            <div class="row">
                                <input placeholder="Password" class="form-control" type="text" name="password">
                            </div>
                            <div class="row justify-content-center">
                                <span><input class="remember" type="checkbox" name="remember"></span>
                                Remember me
                            </div>
                            <div class="row justify-content-center">
                                <button class="form-control login-btn" (click)="onLoginClick()">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>