.remove-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.ag-theme-balham .ag-header {
  background-color: #847e9c !important;
  color: #fff !important;
}
.ag-theme-balham .ag-icon {
  color: #fff !important;
}
